<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="csrf-token" content="{{ .CsrfToken }}" />
    <link rel="icon" type="image/svg+xml" href="/static/assets/favicon.svg" />
    <link href="/static/css/style.css" rel="stylesheet" />
    {{ block "script-tags" . }}{{ end }}
    <title>{{ block "title" . }}Go Template{{ end }}</title>
  </head>
  <body>
    {{ template "content" . }}
  </body>
</html>
